*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}
.general_texto{
    margin-top: 0.5em;
    width: 100%;
    height: auto;
    background-color:var(--colorBase6);

}
.bs_texto_Principal {
    padding-top: 5px;
    font-size: 1.8em;
    color: var(--colorBase);
    
}

.bs_subtitulo{
    padding-top: 1em;
    font-size:1em ;
    text-align: center;
}
.informacion_nosotros{
    padding-top:5px;
    font-size: 1em;
    padding-bottom: 1em;
}
/*SEXXION SEL VIDEO*/

.video{ 
    padding-top: 1em;
    font-size: 1em;
    color: var(--colorBase);
}
.video_2019{
    padding-bottom: 2em;
}

