*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}
.general_texto{
    margin-top: 0.5em;
    width: 100%;
    height: auto;
    background-color:var(--colorBase6);

}
.bs_texto_Principal {
    padding-top: 5px;
    font-size: 1.8em;
    color: var(--colorBase);
    
}

.bs_subtitulo{
    padding-top: 1em;
    font-size:1em ;
    text-align: center;
}
.informacion_nosotros{
    padding-top:5px;
    font-size: 1em;
    padding-bottom: 1em;
}
.imagen_nosotros{
    display:flex;
    justify-content: center;
}
.imagen_nosotros img{
    width: 40%;
    height: 40%;
    padding: 1em;
}

/*SEXXION SEL VIDEO*/
 .body .video{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
 }

.video{ 
    padding-top: 1em;
    font-size: 1em;
    color: var(--colorBase);
}
.video_2019{
    padding-bottom: 2em;
}


/* -------SECCIÓN DE RESPONSIVE-------- */
@media only screen and (max-width:1360px) {
    .video_2019{
        width: 100%;
        height: auto;
    }
}

/* ------- SECCIÓN DE RESPONSIBE */
@media only screen and (max-width:767px) {

    .video_2019{
        width: 90%;
        height: auto;

    }
}