* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Hind', sans-serif !important; */
    font-family: 'Hind', sans-serif;
}

.body100 {
    font-family: 'Hind', sans-serif;
    width: 100%;
    height: auto;
    font-size: 10px;
    overflow: hidden;
}

.body {
    font-family: 'Hind', sans-serif;
    font-size: 10px;
    width: 1400px;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}


/* PALETA DE COLORES */

:root {
    --colorBase: #00355B;
    --colorBase2: #FFF600;
    --colorBase3: #A6937C;
    --colorBase4: #5D7A8C;
    --colorBase5: #B4C4D9;
    --colorBase6: #fafafa;
    --colorResaltante: #ED1D24;
    --colorTexto: #6D6D6D;
    --colorTexto2: #9E9E9E;
    --colorTextoFuerte:  #272b35;
}


/* DIMENCIONES DE OBJETOS DE LA PÀGINA */

:root {
    --sizeParrafo: 2em;
    --sizeTitulo: 4em;
    --sizeSubTitulo: 3em;
}


/* GUIA DE DESARROLADORES */

.desColor {
    background-color: red;
}

.desColor1 {
    background-color: blue;
}


/* SECCION DE MANTENIMIENTO */

.bodyMantenimiento {
    height: 800px;
}

.imgMantenimiento {
    display: block;
    margin: auto;
}

.tituloMantenimiento {
    text-align: center;
    color: var(--colorTexto);
    font-size: 3em;
}

.ocultar {
    display: none;
}


/* SECCIÓN DE TEXTO TITULO Y DESCPRICIONES GENERALES */

.tituloServiciosIndex {
    width: 100%;
    color: var(--colorTexto);
    font-size: 3.5em;
    text-align: center;
}

.descripcionServiciosIndex {
    display: block;
    margin: auto;
    width: 60%;
    color: var(--colorTextoFuerte);
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 5em;
}

.txtDecoracion {
    color: var(--colorBase2);
}

.linea {
    height: 0.5em;
    background: #ED1D24;
}


/* -------SECCIÓN DE RESPONSIVE-------- */

@media only screen and (max-width:1366px) {
    .body100 {
        width: 100%;
        height: auto;
    }
    .body {
        font-size: 8px;
        width: 1000px;
        height: auto;
        margin: auto;
        overflow: hidden;
        position: relative;
    }
}

@media only screen and (max-width:1000px) {
    .body {
        width: 100%;
        padding-left: 5%;
    }
}


/* ------- SECCIÓN DE RESPONSIBE */

@media only screen and (max-width:767px) {
    .body {
        font-size: 10px;
        width: 95%;
        height: auto;
        padding: 0;
    }
    .linea {
        margin: auto;
    }
}
