
*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family:sans-serif; 
}

.body100{
    width: 100%;
    height: auto;
}
.body{

    font-size: 10px;

    width: 1200px;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}
/* PALETA DE COLORES */
:root{
    --colorBase:  #283149;
    --colorBase2: #F1C40F;
    --colorBase3: #A6937C;
    --colorBase4: #5D7A8C;
    --colorBase5: #B4C4D9;

    --colorResaltante: #ED1D24;
    --colorTexto:  #848484;
    --colorTextoFuerte: #6D6D6D;
}
/* DIMENCIONES DE OBJETOS DE LA PÀGINA */
:root{
    --sizeParrafo: 2em;
    --sizeTitulo: 4em;
    --sizeSubTitulo: 3em;
}



/* GUIA DE DESARROLADORES */

.desColor{
    background-color: red;
}
.desColor1{
    background-color: blue;
}