*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}
.rm_barrraContanto{
    width: 100%;
    height: 40px;
    padding-top: 13px;
    background-color: var(--colorBase);
}

.icoTelefono{
    width: 25px;
    float: left;
    margin-right: 15px;
}

.tituloContacto{
    font-size: 25px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}

/* -------------SECCIÒN DEL NAVEGADOR */
.imgBannerIndex{
    width: 100%;
    height: 600px;
    /* background-image: url(../imagen/banners/bannerIndex2.jpg); */
    background-image: url(../imagen/remodelacion2.jpg);
    background-size: cover;
    background-position: bottom;
}

.rm_navEmpresa{
    width: 100%;
    height: 250px;
    background-color:rgba(0, 53, 91,0.0);
}

.imgEmpresa{
    width: 200px;
    float:left;
    margin-top: 30px;
}

.nav{
    font-size: 10px;
    float: right;
    margin-top: 20px;
    background-color: var(--colorBase2);
}
.nav > a > li{
    display: block;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.3em;
    /* background-color: var(--colorBase3); */
    color: var(--colorBase);
    font-size: 2em;
}
.liHome{
    /* background-color:var(--colorResaltante); */
    border-bottom: 0.12em solid var(--colorBase2) ;
}
.nav>a>li:hover{
    background-color: var(--colorBase);
    color: #ffffff;
    transition: 0.1s;
}

/* SECCIÒN DE MENSAJES DEL BANNER */
.mensajeBannerIndex{
    width: 800px;
    margin-top: 100px;
    padding: 20px;
/*     background-color:rgba(64, 75, 105,0.7); */
}
.tituloBannerIndex2{
    width: 750px;
    font-size: 45px;
    /* color: #ffffff; */
    color: var(--colorBase);
}
.tituloBannerIndex3{
    width: 600px;
    font-size: 20px;
    /* color: #ffffff; */
    color: var(--colorTexto);
}

.botonServices{
    width: 80px;
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #F1C40F;
    text-align: center;
    border-radius: 3px;
    color: var(--colorBase);
    font-size: 15px;
    font-weight: 900;
}
.botonServices:hover{
    background-color: var(--colorBase);
    color: #ffffff;
}
/* ----------------SECCIÓN DE BOTON FLOTANTE*/

#cajaBotonFijo{
    font-size: 10px;
    width: 30em;
    height: 7em;
    background-color: var(--colorResaltante);
    border-radius: 1em 0em 1em 0em;
    position: fixed;
    top: 45em;
    right: 0em;
    z-index: 100;
}
.icoTelefonoFlotante{
    width: 3.5em;
    float: left;
    margin-right: 1.5em;
    margin: 2em 1.5em 0em 1em;
}
.tituloFlotante{
    float: left;
    color:#ffffff;
    font-size: 3.5em;
    margin-top: 0.5em;
    font-weight: 900;
}





/* ------- SECCIÓN DE RESPONSIBE */
@media only screen and (max-width:1360px) {
    #cajaBotonFijo{
        font-size: 8px;
        top: 60em;
    }
}

/* ------- SECCIÓN DE RESPONSIBE */
@media only screen and (max-width:767px) {

    .imgBannerIndex{
        width: 100%;
        height: 700px;
    }
    .tituloContacto{
        font-size: 20px;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
    }
    .nav{
        display: none;
    }
    .imgEmpresa{
        width: 90%;
        float:none;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .mensajeBannerIndex{
        width: 100%;
        height:auto;
        margin-top: 8em;
        padding: 20px;
    }
    .tituloBannerIndex2{
        width: 100%;
        font-size: 40px;
    }
    .tituloBannerIndex3{
        width: 100%;
        font-size: 20px;
    }


    /* SECCIÓN DE BOTO FLOTANTE */
    #cajaBotonFijo{
        font-size: 10px;
        width: 7em;
        height: 7em;
        background-color: var(--colorResaltante);
        border-radius: 1em 0em 1em 0em;
        position: fixed;
        top: 5em;
    }
    .tituloFlotante{
        display: none;
    }
}