*{
    margin: 0;
    padding: 0;
}

.rm_barrraContanto{
    width: 100%;
    height: 35px;
    background-color: var(--colorBase);
    padding-top: 15px;
}
.rm_contactoNav{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
.rm_navEmpresa{
    width: 100%;
    height: 60px;
    background-color: #ffffff   ;
}